#small{
    height: 30px;
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 59px;
    left: 13px;
    height: 63px;
    width: 28px;
    background: #fff;
    border-radius: 5px;
    transform: rotate(50deg);
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 20%);
}